@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
:root {
  --dark-gray: hsl(0, 0%, 63%);
  --dark: hsl(0, 0%, 0%);
  --light: hsl(0, 0%, 100%);
  // --light: hsl(0, 0%, 20%);
  --very-dark-gray: hsl(0, 0%, 27%);
}
