.slider-container {
  height: 50svh;
  overflow: hidden;
  display: flex;
  @media (min-width: 60em) {
    width: 58%;
    height: 65vh;
  }
}

.slider {
  height: 50dvh;
  display: flex;
  flex-direction: row;
  @media (min-width: 60em) {
    height: 70vh;
  }
}

.slider-image {
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

.slider-image:nth-child(1) {
  background-image: url("/images/mobile-image-hero-3.jpg");
  @media (min-width: 60em) {
    background-image: url("/images/desktop-image-hero-3.jpg");
  }
}

.slider-image:nth-child(2) {
  background-image: url("/images/mobile-image-hero-1.jpg");
  @media (min-width: 60em) {
    background-image: url("/images/desktop-image-hero-1-Enhanced-SR_orig.jpg");
  }
}

.slider-image:nth-child(3) {
  background-image: url("/images/mobile-image-hero-2.jpg");
  @media (min-width: 60em) {
    background-image: url("/images/desktop-image-hero-2.jpg");
  }
}

.slider-image:nth-child(4) {
  background-image: url("/images/mobile-image-hero-3.jpg");
  @media (min-width: 60em) {
    background-image: url("/images/desktop-image-hero-3.jpg");
  }
}
.slider-image:nth-child(5) {
  background-image: url("/images/mobile-image-hero-1.jpg");
  @media (min-width: 60em) {
    background-image: url("/images/desktop-image-hero-1.jpg");
  }
}
