.slider-nav {
  width: 25%;
  display: flex;
  position: absolute;
  bottom: 50svh;
  right: 0;
  @media (min-width: 60em) {
    width: 12%;
    bottom: 35vh;
    left: 58%;
  }
}

.btn {
  width: 50%;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  cursor: pointer;
  border: 0;
}

.slider-btn-prev,
.slider-btn-next {
  background: var(--dark);
}

.slider-btn-prev:hover,
.slider-btn-next:hover {
  background: var(--very-dark-gray);
}
